<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cash Register</title>
</head>
<body>
<h2 th:text="#{productInfo}"></h2>
<form th:action="@{/addProducts}" method="post">
    <div th:if="${message1}">
        <p th:text="#{productExist}"></p>
    </div>
    <div th:text="#{nameEN}"></div>
    <div><label><input type="text" name="nameEN"/> </label></div>
    <div th:if="${message2}">
        <p th:text="#{productExist}"></p>
    </div>
    <div th:text="#{nameUA}"></div>
    <div><label><input type="text" name="nameUA"/> </label></div>
    <div th:if="${message3}">
        <p th:text="#{productExist}"></p>
    </div>
    <div th:text="#{code}"></div>
    <div><label><input type="text" name="code"/> </label></div>
    <div th:text="#{quantity}"></div>
    <div><label><input type="number" name="quantity"/> </label></div>
    <div><input type="submit" th:value="#{add}"/></div>
</form>
<div>
    <a th:href="@{'?locale=ua'}">UA</a>
    <a th:href="@{'?locale=en'}">EN</a>
</div>
</body>
</html>