<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cash Register</title>
</head>
<body>
<h2 th:text="#{userList}"></h2>
<table>
    <thead>
    <tr>
        <th th:text="#{userName}"></th>
        <th th:text="#{role}"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:each="role : ${user.roles}" th:text="${role}"></td>
        <td><a th:href="@{/user/{id}(id=${user.id})}" th:text="#{edit}"></a></td>
    </tr>
    </tbody>
</table>
<a href="/main" th:text="#{mainPage}">Main page</a>
<div>
    <a th:href="@{'?locale=ua'}">UA</a>
    <a th:href="@{'?locale=en'}">EN</a>
</div>
</body>
</html>